a {
    text-decoration: none;
}

input {
    border: 1px solid lightgrey;
    border-radius: 1.3rem;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 0.6rem;
    text-align: center;
    font-size: 0.8rem;
    outline: none;
}

input[type="submit"] {
    background: #acd246;
    color: white;
    transition: .5s;
}

input[type="submit"]:disabled {
    background: #e6e6e6;
    color: #888;
}

.btn {
    background: #acd246;
    color: white!important;
    border: 1px solid lightgrey;
    border-radius: 1.3rem;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 0.6rem;
    text-align: center;
    font-size: 0.8rem;
    outline: none;
    text-decoration: none!important;
    padding: 0.7rem 6rem;
    font-weight: 600;
}

/***************************/

#admin,
#user{
    display: flex;
    height: 100vh;
}

#admin .menu,
#user .menu{
    width: 24%;
    background: #f5f5f5;
    box-shadow: 6px 0 50px -8px lightgrey;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    padding: 2rem 2rem 0;
}

#admin .menu::-webkit-scrollbar,
#user .menu::-webkit-scrollbar{
    width: 0;
}

#admin .content,
#user .content{
    width: 76%;
    margin-left: 24%;
}

#admin .user,
#user .user{
    margin-top: 4rem;
}

#admin .user h3,
#user .user h3 {
    font-weight: 100;
}

#admin h4,
#user h4 {
    font-size: 0.8rem;
    color: #a7a7a7;
}

#admin .links,
#user .links {
    margin-top: 4rem;
}

#admin .links a,
#user .links a {
    color: black;
}

#admin .link,
#user .link {
    width: 13rem;
    border-radius: 2rem;
    min-height: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    display: flex;
    padding: 0.8rem 2rem;
    align-items: center;
}

#admin .link:hover, .link.active,
#user .link:hover, .link.active {
    background: white;
}

#admin .link .logo,
#user .link .logo {
    width: 20%;
    height: 1.5rem;
}

#admin .link .logo svg,
#user .link .logo svg {
    width: 1rem;
    height: 1.5rem;
    fill: #8bce21;
}

#admin .link h4,
#user .link h4 {
    width: 72%;
    margin-left: 8%;
    color: black;
}


#admin .footer,
#user .footer {
    margin-top: 8rem;
}

#admin .politics,
#user .politics {
    margin-top: 2rem;
    width: 95%;
}

#admin .footer .logo span,
#user .footer .logo span{
    font-size: 0.5rem;
    position: absolute;
}

#admin .creator_logo,
#user. .creator_logo {
    width: 2.1875rem;
}

#admin .politics span, #admin .politics a,
#user .politics span, #user .politics a{
    font-size: 0.5rem;
}

#admin .header_item,
#user .header_item{
    width: 41.5%!important;
    margin-left: 8.5%;
}

.header_info_link {
    text-align: left !important;
    padding: 0;
}

#admin .header_item__button,
#user .header_item__button {
    float: right;
    width: 28%;
}

#admin header,
#user header {
    margin-top: 1rem;
    padding: 0 0 .6rem;
    border-bottom: 2px solid #f1f1f1;
}

#admin .header_info_link,
#user .header_info_link {
    width: 33.3%;
}

#admin .container,
#user .container {
    padding: 2rem 4.9rem;
}

#admin h1,
#user h1 {
    font-size: 1.7rem;
}

#admin .btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 0.3rem;
    line-height: 1rem;
}

#admin .btn svg {
    width: 1rem;
    fill: white;
    height: 1rem;
}

#admin .btn.delete {
    background: #f46d6d;
}

#admin .btn.view {
    background: #cfdc5d;
}

#admin .container .controls {
    margin-top: 1rem;
}

#admin .container .controls span {
    float: right;
    font-size: 0.6rem;
    color: grey;
    margin-top: 1.2rem;
}

#admin table input {
    width: unset;
    margin-bottom: 0.3rem;
    height: auto;
}

#admin table {
    border: 2px solid lightgrey;
    width: 100%;
}

#admin table thead {
    color: #8bce21;
}

#admin table thead td {
    font-weight: bold;
}

#admin table td {
    border: 1px solid lightgrey;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    vertical-align: middle;
    font-size: 0.8rem;
    text-align: left;
    max-width: 15rem;
}

#admin table td:nth-child(1) {
    padding: 0 1rem;
}

#admin table .controls {
    margin: 0!important;
    width: auto!important;
}

#admin table .btn {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
}

#admin table .btn svg {
    height: 1.2rem;
}

#admin table h4 {
    margin-top: unset!important;
    color: #000;
    font-weight: 400;
}

#admin .container h4 {
    margin-top: 2rem;
}

#admin .client_type {
    display: flex;
    margin-top: 1rem;
}

#admin .client_type .controls {
    margin: 0;
    width: 50%;
    padding-left: 40%;
}

#admin .radio {
    width: 25%;
    margin-top: 0.3rem;
}

#admin .radio input {
    width: 1rem;
    height: 1.2rem;
    margin: 0;
    cursor: pointer;
}

#admin .first,
#admin .second {
    width: 100%;
    display: flex;
    height: 14.79rem;
}

#admin .block {
    width: 30%;
    font-size: 0.6rem;
    border: 2px solid lightgrey;
    color: grey;
    margin-right: 5%;
}

#admin .block:nth-child(3) {
    margin: 0;
}

#admin .block .title {
    border-bottom: 2px solid lightgrey;
    padding: 1rem;
}

#admin .block .body {
    padding: 1rem;
    overflow-y: scroll;
    height: 10.79rem;
}

#admin .block .body::-webkit-scrollbar {
    width: 0;
}

#admin .block .body .tel {
    display: flex;
    width: 100%;
}

#admin .block input {
    border: 0;
    border-radius: 1px;
    background-color: #f5f5f5;
    width: 100%;
    height: 1.5rem;
    text-align: left;
    padding: 0.5rem;
}

#admin .block input:focus {
    background-color: #fff;
    border: 1px solid lightgrey;
}

#admin .second {
    margin-top: 1rem;
}

#admin .second .block {
    width: 45%;
    margin: 0;
}

#admin .second .block:nth-of-type(1) {
    margin-right: 10%;
}

#admin .second .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#admin .second .item .file > a {
    display: flex;
}

#admin .second .item svg {
    width: .7rem;
    height: .7rem;
}

#admin .second .item button{
    background: none;
    border: none;
    outline: none;
    margin: 0;
}

#admin .second .item button > svg {
    fill: #f46d6d;
}

#admin .second button {
    margin: -2rem 1rem 0;
    float: right;
}

#admin textarea {
    width: 100%;
    height: 60%;
    background: #f5f5f5;
    resize: none;
    border: none;
    outline: none;
}

#admin textarea:focus {
    border: 1px solid lightgrey;
    background: #fff;
}

#admin .background {
    width: 100%;
    background-color: lightgray;
    height: 18rem;
    margin-top: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#admin .background:hover {
    background-color: #7A7A7A;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#admin .background:hover > .icon {
    opacity: 1;
}

#admin .background .icon {
    width: 5rem;
    height: 5rem;
    position: absolute;
    margin: 7rem 27rem;
    opacity: 0;
    cursor: pointer;
}

#admin .background .icon svg {
    width: 5rem;
    height: 4rem;
    fill: #c0bdba;
}

#admin .post-body {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0;
}

#admin .post-body .arrow {
    width: 5%;
    height: 2.5rem;
    background: none;
    border: none;
}

#admin .post-body .arrow svg {
    transform: rotateZ(180deg);
    fill: lightgrey;
}

#admin .post-body input#title{
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 0;
    font-size: 2.5rem;
}

#admin .post-body textarea#text {
    background: none;
    height: 9rem;
}

#admin form.post {
    width: 75%;
}

#user .docs {
    display: flex;
    margin-top: 2rem;
    width: 35rem;
}

#user .docs .doc {
    width: 8rem;
    min-height: 10rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 1rem;
}

#user .docs .doc:last-child {
    margin: 0;
}

#user .docs .doc h3 {
    text-align: center;
}

#user .docs .doc .pic {
    background: #f5f5f5;
    height: 8rem;
    margin-bottom: .7rem;
    border-radius: 3px;
}

#user .docs .doc .pic:hover {
    background: #b5b5b5;
    cursor: pointer;
}


#user .docs .doc .pic:hover button {
    opacity: 1;
}

#user .docs .doc .pic svg {
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin: 2rem;
}

#user .docs .doc .pic:hover svg {
    opacity: .2;
}

#user .docs .doc .pic button {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    border: none;
    background: none;
    outline: none;
    opacity: 0;
    position: absolute;
}

#user .docs .doc .pic button > svg {
    width: 3rem;
    height: 3rem;
    fill: white;
    margin: 0;
    position: relative;
    opacity: 1!important;
}

#user .money {
    width: 65%;
    background-color: #f5f5f5;
    height: 13rem;
    box-shadow: 0 0 2rem 0 lightgrey;
    padding: 1rem 2rem;
}

#user .percent {
    width: 30%;
    margin-right: 5%;
}

#user .percent h1 {
    color: #8eba19;
    margin: 2.7rem 1.6rem;
    font-size: 6rem;
}

#user .money .status {
    margin-top: 3.5rem;
    display: flex;
    height: 2rem;
}

#user .money .status .done{
    width: 50%;
    background: #8eba19;
    border-radius: 1rem 0 0 1rem;
}

#user .money .status .remain {
    width: 50%;
    background: white;
    border-radius: 0 1rem 1rem 0;
}

#user .money .status .remain h5 {
    float: right;
    margin-right: 1rem;
    margin-top: .5rem;
    font-size: .8rem;
    color: grey;
    min-width: 8rem;
}

#user .question {
    margin-top: 2rem;
    height: 9rem;
    width: 100%;
    text-align: center;
}

#user .question button {
    display: flex;
    width: 14rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 0.7rem;
    font-weight: 600;
    align-items: center;
    padding-left: 3.5rem;
    background: #8eba19;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 2rem auto;
}

#user .question button span {
    width: 12%;
}

#user .question button span svg {
    height: 1rem;
    margin-top: .1rem;
    fill: #fff;
}

#admin .info {
    margin-top: 2rem;
    background: #f5f5f5;
    padding: 1rem;
    -webkit-box-shadow: 0 0 1rem 0 lightgray;
    -moz-box-shadow: 0 0 1rem 0 lightgray;
    box-shadow: 0 0 1rem 0 lightgray;
}

#admin .success {
    margin: auto;
    padding: 6rem;
    color: #8eba19;
    -webkit-box-shadow: 0 0 50rem 0 #8eba19;
    -moz-box-shadow: 0 0 50rem 0 #8eba19;
    box-shadow: 0 0 50rem 0 #8eba19;
}

#admin .main_page__block {
    width: 64%;
    box-shadow: 0 0 20px 0 lightgrey;
    margin-bottom: 3rem;
    position: absolute;
    border-radius: 10px;
}

#admin .main_page__block iframe {
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

#admin .main_page__block .main_page__block--cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .9);
    opacity: 0;
    transition: .5s
}

#admin .main_page__block .main_page__block--edit {
    position: absolute;
    left: calc(50% - 4rem);
    top: calc(50% - 1rem);
    width: 8rem;
    height: 2rem;
    background: linear-gradient(90deg, #9FCD5E 0%, #71AA27 100%);
    border-radius: 28px;
    text-align: center;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

#admin .main_page__block .main_page__block--edit svg {
    width: 1rem;
    fill: white;
}

#admin .main_page__block .main_page__block--edit p {
    line-height: 1.9rem;
}

#admin .main_page__block:hover .main_page__block--cover,
#admin .main_page__block:hover .main_page__block--edit {
    opacity: 1;
    transition: .5s
}

.ask_for_call {
    width: 75%;
    font-size: .8rem;
}

.header_phone {
    font-size: 1rem;
}

.header_item__button {
    height: 2.5rem;
}

@media screen and (max-width: 1096px) and (min-width: 320px) {
    #admin .header_item,
    #user .header_item{
        display: flex;
        width: 50%!important;
    }

    #admin .header_phone,
    #user .header_phone {
        font-size: 0.98rem;
    }
}