<IfModule mod_rewrite.c>
Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(?!docs$).* index.php [QSA,L]
RewriteRule ^docs$ docs.php [QSA,L]
</IfModule>