<IfModule mod_rewrite.c>
Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(?!posts$|main$|faq$|add/(post$|user$)|edit/(post$|user$|stage$)|user/(\d+)?$|delete/(post|user)/(\d+)?$).* index.php [QSA,L]
RewriteRule ^posts$ posts.php [QSA,L]
RewriteRule ^main$ main.php [QSA,L]
RewriteRule ^faq$ faq.php [QSA,L]
RewriteRule ^add/(post$|user$|success$) add/ [QSA,L]
RewriteRule ^edit/(post$|user$|stage$) edit/ [QSA,L]
RewriteRule ^user/(\d+)?$ user.info.php?id=$1

</IfModule>